aiohttp
aiokafka
app-common-python
asgi-correlation-id
ddtrace
faker
fastapi[standard-no-fastapi-cloud-cli]
graphviz
greenlet
pre-commit
prometheus-fastapi-instrumentator
psycopg
pydantic
pydantic-settings
pyright
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-xdist
pyyaml
requests
ruff
sentry-sdk
sqlalchemy
structlog
